section.bigNav{
    width: 100%;
}
section.bigNav>.wrapper{
    width: 75%;
    margin: 0 auto;
}
section.bigNav .card{
      box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
}
section.bigNav .card>a{
    display: flex;
    width: 100%;
    height: 100px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section.bigNav .card>a:hover{
    box-shadow: 0px 0px 14px 0px rgba(28, 37, 84, 0.15);
}