section.changePassword {
  width: 100%;
  /* height: 100vh; */
  padding: 50px 20px;
  position: relative;
  background-color: white;
}
section.changePassword > .container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
  row-gap: 20px;
}
@media screen and (min-width:992px){
    section.changePassword > .container{
        width: 30%;
    }
}
@media screen and (max-width:992px){
    section.changePassword > .container{
        width: 90%;
    }
}
section.changePassword > .container > form{
  display: flex;
  /* width: 75%; */
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
section.changePassword > .container > form > p{
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}
section.changePassword > .container > form > p> input,
section.changePassword > .container > form > p> label{
  width: 100%;
}
section.changePassword > .container > form > p> input{
  all: unset;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
}
section.changePassword > .container > form>p>input:focus:valid{
  border-color: #14A44D !important;
}
section.changePassword > .container > form>p>input:focus:invalid{
  border-color: red !important;
}
section.changePassword > .container > form ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
section.changePassword > .container > form ul>li{
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
section.changePassword > .container > form ul.errorlist>li{
  font-size: 16px;
  font-weight: 700;
  color: red;
  margin-bottom: 10px;
}
section.changePassword > .container > form:has(ul.errorlist)>p>input{
  border-color: red !important;
}
section.changePassword > .container > form:has(ul.errorlist)>button{
  background-color: red !important;
}
section.changePassword > .container > form>button,section.changePassword > .container > form>a{
  width: 100%;
  margin-top: 20px;
}