section.supplierList {
  width: 100%;
  padding: 50px 20px;
  background-color: white;
}
section.supplierList > .wrapper {
  display: flex;
  width: 80%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  /* background-color: gray; */
  box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
  row-gap: 20px;
}
section.supplierList > .wrapper > .top {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px){
  section.supplierList > .wrapper > .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
  section.supplierList > .wrapper > .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  section.supplierList > .wrapper > .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
}
section.supplierList > .wrapper > .container > .supplierCard {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
  transition: 300ms ease;
  position: relative;
  overflow: hidden;
}
section.supplierList > .wrapper > .container > .supplierCard > h4 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
}
section.supplierList > .wrapper > .container > .supplierCard> .btns{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    position: absolute;
    left: -100%;
    top: 0;
    transition: 300ms;
    transform: translate(0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 20px;/*mew*/
}
section.supplierList > .wrapper > .container > .supplierCard:hover > .btns{
    left: 50%;
    transform: translate(-50%, 0);
}
section.supplierList > .wrapper > .container > .supplierCard> .btns>a{
  width: 100%;/*new*/
}

/* supplier create */
section.supplierCreate {
  width: 100%;
  padding: 20px;
}
section.supplierCreate > .container {
  display: flex;
  width: 80%;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
section.supplierCreate > .container > .card {
  width: 40%;
  padding: 15px;
  row-gap: 50px;
  box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
}
section.supplierCreate > .container > .card > form {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
}
section.supplierCreate > .container > .card > form > legend {
  width: 100%;
  text-align: center;
  font-size: 42px;
  line-height: 42px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

section.supplierCreate > .container > .card > form > p {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
section.supplierCreate > .container > .card > form > p > input, 
section.supplierCreate > .container > .card > form > p > select {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
}
section.supplierCreate > .container > .card > form > input,
section.supplierCreate > .container > .card > form > a{
  width: 50%;
}


/* supplier update */
section.supplierUpdate {
  width: 100%;
  padding: 20px;
}
section.supplierUpdate > .container {
  display: flex;
  width: 80%;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
section.supplierUpdate > .container > .card {
  width: 40%;
  padding: 15px;
  row-gap: 50px;
  box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
}
section.supplierUpdate > .container > .card > form {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
}
section.supplierUpdate > .container > .card > form > legend {
  width: 100%;
  text-align: center;
  font-size: 42px;
  line-height: 42px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
section.supplierUpdate > .container > .card > form > p {
  display: flex;
  width: 40%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
section.supplierUpdate > .container > .card > form > p {
  display: flex;
  width: 100%;/*new*/
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
section.supplierUpdate > .container > .card > form > p > input, 
section.supplierUpdate > .container > .card > form > p > select {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}
section.supplierUpdate > .container > .card > form > input,
section.supplierUpdate > .container > .card > form > a{
  width: 50%;
}

/* supplier delete */
section.supplierDelete {
  width: 100%;
  padding: 20px;
}
section.supplierDelete > .container {
  display: flex;
  width: 80%;
  /* height: 80vh; */
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
section.supplierDelete > .container > .card {
  width: auto;
  padding: 15px;
  row-gap: 50px;
  box-shadow: 0px 0px 14px 0px rgba(36, 48, 110, 0.15);
}
section.supplierDelete > .container > .card > form {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  padding: 20px;
}
section.supplierDelete > .container > .card > form > legend {
  width: 100%;
  text-align: center;
  font-size: 42px;
  line-height: 42px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
section.supplierDelete > .container > .card > form > input,
section.supplierDelete > .container > .card > form > a{
  width: 100%;
}