{% extends 'adminBase.html' %} {% load static %} {% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/adminOrder.css' %}" />
{% endblock cssLinks %} {% block content %}


<section class="adminOrderList mb-14">
  <div class="wrapper">
    <div class="top">
      <h4>All Orders</h4>
    </div>
    <div class="container">
      {% for adminOrderList in object_list%}
      <div class="adminOrderCard">
        <h4>{{ adminOrderList.product.productId.name }}</h4>
        <p class="userName">{{ adminOrderList.get_user_full_name }}</p>
        <p>{{ adminOrderList.quantity }}</p>
        <p class="{% if adminOrderList.status == "submitted" %} text-primary {% else %}text-success{% endif %} btn btn-outline-{% if adminOrderList.status == "submitted" %} text-primary {% else %}text-success{% endif %}">{{ adminOrderList.status }}</p>
        <div class="btns">
          <a class="btn btn-warning" role="button" href="{% url 'adminOrderUpdate' adminOrderList.pk %}">edit</a>
          <a class="btn btn-danger" role="button" href="{% url 'adminOrderDelete' adminOrderList.pk %}">delete</a>
        </div>
      </div>
      {% endfor %}
  </div>
</section>

{% endblock content %}
{% block js %}
<script>
 let userName = document.querySelectorAll(".userName");
userName.forEach((elem) =>{
  
  if(elem.innerText === ""){
    elem.innerText = "no name was found!"
  }
})
</script>

{% endblock js %}