{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The_Mt's Grocery</title>
    <link rel="stylesheet" href="{% static 'mdb-ui-kit/css/mdb.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'FontAwesome.Pro.6.2.1/css/all.css' %}"
    />
    <link rel="icon" href="{% static 'img/mylogo.png' %}" />
    {% block cssLinks %} {% endblock cssLinks %}
    <style>
      * {
        box-sizing: border-box !important;
      }
      main {
        min-height: 335px;
      }
    </style>
  </head>
  <body>
    <!--header-->
    <header>
      <section id="menu" class="container-fluid">
        <div class="row">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container">
              <!-- Navbar brand -->
              <a class="navbar-brand me-2" href="{% url 'home' %}">
                <img
                  src="{% static '/img/mylogo.png' %}"
                  height="16"
                  alt="MDB Logo"
                  loading="lazy"
                  style="margin-top: -1px"
                />
              </a>

              <!-- Toggle button -->
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>

              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-capitalize" href="{% url 'home' %}"
                      >home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize {% if user.is_superuser %}disabled{% endif %}" href="{% url 'viewAllProducts'%}"
                      >View all Products</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-capitalize {% if user.is_superuser %}disabled{% endif %}"
                      href="{% url 'userOrderList' %}"
                      >orders</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-capitalize" href="{% url 'about' %}"
                      >About Us</a
                    >
                  </li>
                </ul>
                <!-- Left links -->

                <div class="d-flex align-items-center">
                  {% if user.is_authenticated %} {% if user.is_superuser %}
                  <a
                    class="btn btn-warning px-3 me-2"
                    href="{% url 'adminHome' %}"
                    >Admin Dashboard</a
                  >
                  <div class="dropdown">
                    <button
                      class="btn btn-info dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                      more
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          href="{% url 'passwordChange' %}"
                          >Change Password</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}"
                          >Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                  {% else %}
                  <div class="dropdown">
                    <button
                      class="btn btn-warning dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                      {{ user.username }}
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          href="{% url 'passwordChange' %}"
                          >Change Password</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}"
                          >Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                  {% endif %} {% else %}
                  <a class="btn btn-primary px-3 me-2" href="{% url 'login' %}"
                    >Login</a
                  >
                  <a
                    class="btn btn-secondary px-3 me-2"
                    href="{% url 'signup' %}"
                    >Sign Up</a
                  >
                  {% endif %}
                </div>
              </div>
              <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
          </nav>
          <!-- Navbar -->
        </div>
      </section>
    </header>
    <!--main-->
    <main>{% block content %} {% endblock content %}</main>
    <!--footer-->
    <footer class="mt-5">
      <section class="container-fluid">
        <div class="row">
          <!-- Footer -->
          <footer class="text-center text-lg-start bg-white text-muted">
            <!-- Section: Social media -->
            <section
              class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
            >
              <!-- Left -->
              <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
              </div>
              <!-- Left -->

              <!-- Right -->
              <div>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
              <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3 text-secondary"></i>The_Mt's
                      Grocery
                    </h6>
                    <p>
                      A top-notch grocery shop for competition stands out with
                      its exceptional product range, competitive prices,
                      innovative marketing strategies, and excellent customer
                      experience.
                    </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p>
                      <a href="#!" class="text-reset">Pistachio</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">Hazelnut</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">almonds</a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">peanut</a>
                    </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                      <i class="fas fa-home me-3 text-secondary"></i> New York,
                      NY 10012, US
                    </p>
                    <p>
                      <i class="fas fa-envelope me-3 text-secondary"></i>
                      info@example.com
                    </p>
                    <p>
                      <i class="fas fa-phone me-3 text-secondary"></i> + 01 234
                      567 88
                    </p>
                    <p>
                      <i class="fas fa-print me-3 text-secondary"></i> + 01 234
                      567 89
                    </p>
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div
              class="text-center p-4"
              style="background-color: rgba(0, 0, 0, 0.025)"
            >
              © 2023 Copyright:
              <a class="text-reset fw-bold" href="#">The_Mt.com</a>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </div>
      </section>
    </footer>
    <script src="{% static 'mdb-ui-kit/js/mdb.min.js' %}"></script>
  </body>
</html>
