{% extends 'adminBase.html' %}
{% load static %}

{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/cityList.css' %}" />
{% endblock cssLinks %}

{% block content %}

<section class="cityCreate">
  <div class="container">
    <div class="card">

      <form action="" method="POST">
        <legend>Add a new City</legend>
        {% csrf_token %} {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Save" />
        <a href="{% url 'cityList' %}" class="btn btn-info">cancel</a>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
