{% extends 'adminBase.html' %} {% load static %} {% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/productVariation.css' %}" />
{% endblock cssLinks %} {% block content %}

<section class="productVarUpdate">
  <div class="container">
    <div class="card">
      <form action="" method="POST">
        <legend>Edit</legend>
        {% csrf_token %} {{ form.as_p }}
        <input class="btn btn-warning" type="submit" value="Update" />
        <a href="{% url 'productVariationList' %}" class="btn btn-info">cancel</a>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
